ALLOWED_HOSTS="'localhost,127.0.0.1,localhost:8000,127.0.0.1:8000,aishtop-server.onrender.com'"
DB_HOST=aws-1-eu-central-1.pooler.supabase.com
DB_NAME=postgres
DB_PASSWORD=Rauf@952500
DB_PORT=6543
DB_USER=postgres.qdaijerfombvpnesyqvu
DEBUG=True
DEFAULT_FROM_EMAIL="AISHTOP <noreply@oratech.com.ng>"
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.zeptomail.com
EMAIL_HOST_PASSWORD=wSsVR60n8hP2Da59nGavJ7xqkVlRBFL1HUh1ilCl63+vFvzH98czwhbLAAH1HfYcGGBvEjUbpL8vmh0C02cOjN4syV5VXCiF9mqRe1U4J3x17qnvhDzIXmhZlROALYoKxgximGlgF8xu
EMAIL_HOST_USER=emailapikey
EMAIL_PORT=587
EMAIL_USE_TLS=True
FRONTEND_URL=https://aishtop.vercel.app
MONNIFY_API_KEY=MK_PROD_F4QWVV88EU
MONNIFY_BASE_URL=https://api.monnify.com
MONNIFY_CONTRACT_CODE=907658319816
MONNIFY_DEV_API_KEY=MK_TEST_DLM17WQH0Q
MONNIFY_DEV_CONTRACT_CODE=2772843971
MONNIFY_DEV_SECRET_KEY=KVPN0L2PJ3HV2F83R76015VLG3A00QX3
MONNIFY_DEV_SUB_ACCOUNT_CODE=MFY_SUB_955890035627
MONNIFY_DEV_WALLET_ACCOUNT=4756256291
MONNIFY_SECRET_KEY=ESVHLACS6XN0XBFNY08B8ST5Z82WN33U
MONNIFY_WALLET_ACCOUNT=8065944791
SECRET_KEY="django-insecure-1xi6z4)jk1%%^!9vkiy!pvm&btlg^u&tnkds^1ps)$1jooox=g"